# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# binary output directory
out/

# runtime logs etc
run/

# Test binary, built with `go test -c`
*.test

# coverage profile files
*.profile

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# temporary files for working with Fedora CoreOS
*.tmp
*.ign

# terraform binaries and state files 
.terraform
*.tfstate*
*.tfplan

*.rdb
.DS_Store

node_modules
static/dist
.vscode

fyne-cross
cmd/*/fyne_metadata_init.go
.cache
pkg/esi/staticdata.sqlite